.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  line-height: 1.6;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
  padding-bottom: 2.2em;
}

ul > li {
  line-height: 2;
}

.modal-alert {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  animation: signup-response 0.5s 1;
  -webkit-animation: signup-response 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay: 2s;
  -webkit-animation-delay: 2s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

@keyframes signup-response {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes signup-response {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
